/*==========================
RESPONSIVE
==========================*/

@media (max-width:992px){

.container{
width:92%;
}

.hero-name{
font-size:56px;
}

.hero-date{
font-size:28px;
}

.invitation-card{
padding:45px 30px;
}

.couple-name{
font-size:44px;
}

.location-card{
padding:35px;
}

}

@media (max-width:768px){

section{
padding:70px 0;
}

.section-title h2{
font-size:26px;
letter-spacing:2px;
}

.section-title span{
width:45px;
}

.loading-title{
font-size:32px;
}

.envelope-wrapper{
width:300px;
height:210px;
}

.hero-name{
font-size:42px;
}

.hero-and{
font-size:34px;
}

.hero-subtitle{
font-size:16px;
letter-spacing:3px;
}

.hero-date{
font-size:24px;
}

.hero-time{
font-size:18px;
}

.invitation-card{
padding:35px 20px;
}

.guest-title{
font-size:24px;
}

.invite-text{
font-size:18px;
}

.couple-name{
font-size:34px;
}

.couple-name span{
font-size:28px;
}

.invite-message{
font-size:20px;
}

.wedding-date{
font-size:28px;
}

.family-name{
font-size:18px;
}

.count-box{
width:100px;
height:100px;
}

.count-box h3{
font-size:34px;
}

.count-box span{
font-size:14px;
}

.location-card{
padding:25px 18px;
}

.location-card h3{
font-size:26px;
}

.hall-name{
font-size:22px;
}

.address{
font-size:18px;
}

.map-buttons{
flex-direction:column;
}

.map-btn{
width:100%;
}

.footer-content h2{
font-size:30px;
}

.footer-content p{
font-size:18px;
}

.footer-content h3{
font-size:24px;
}

}

@media (max-width:480px){

.hero-name{
font-size:34px;
}

.hero-date{
font-size:20px;
}

.hero-time{
font-size:16px;
}

.envelope-wrapper{
width:270px;
height:190px;
}

.loading-ring{
width:60px;
height:60px;
}

.loading-title{
font-size:26px;
}

.section-title h2{
font-size:22px;
}

.invitation-card{
padding:25px 15px;
}

.couple-name{
font-size:28px;
}

.count-box{
width:85px;
height:85px;
}

.count-box h3{
font-size:28px;
}

.count-box span{
font-size:12px;
}

#scrollTop{
width:45px;
height:45px;
font-size:20px;
}

}